.content {
  margin-top: 60px;
}




#widgets {


  .widget {
    margin: 20px 0;

    &.rich_text {
       a {
        border-bottom: 3px dotted $purple;
      }
      a:hover{
        color: lighten($purple, 20%);
        border-bottom: 3px dotted lighten($purple, 20%);
      }


    }
    
    &.document {
      > a {
        display: table;
        width: 98%;
        background-color: $purplePastelle;
        padding: 1%;
        border-radius: 5px;
        
        > i, > .content {
          display: table-cell;
          vertical-align: top;
        }
      
        > .fa-file-text {
          width: 1.2em;
        }
      
        > .fa-download {
          text-align: right;
        }
        
        > .content > .description {
          color: $gray;
          font-weight: normal;
        }
      }
    }
    
    &.link {
      > a {
        display: table;
        width: 98%;
        background-color: $purplePastelle;
        padding: 1%;
        border-radius: 5px;
        
        > i, > .content {
          display: table-cell;
          vertical-align: top;
        }
        
        > .fa-external-link {
          width: 1.2em;
        }
        
        > .content > .description {
          color: $gray;
          font-weight: normal;
        }
      }
    }
     &.video{
      max-width: 200px;
      }

    .caption {
      font-style: italic;
    }
    
  }
}