
#widgets {
  .widget {
    margin: 15px 0 35px 0;

    &.rich_text {
      @extend .linkStlyed;
    }


    .pic, .video{
      max-width: 600px;
      max-height: 600px;
      display: block;


      img{
        @extend .borderSoft
      }
      >.caption{
      padding-left: 15px;
      }
    }

    &.document {
      > a {
      max-width: 600px;
      max-height: 600px;
      display: table;
      background-color: white;

        > i, > .content {
          display: table-cell;
          vertical-align: top;
        }
        
        > .fa-external-link {
          width: 1.2em;
        }
        > .fa-file-text {
          width: 1.2em;
        }
      
        > .fa-download {
          text-align: right;
        }

        > .content > .description {
          color: $gray;
          font-weight: normal;
          font-size: 0.9em;
        }
      }

      > a:hover {
        color: $lightPurple;      
        > i, > .content {
          display: table-cell;
        }
      }
      
}
    
    &.link {
      > a {
      max-width: 600px;
      max-height: 600px;
      display: table;
      background-color: white;

        > i, > .content {
          display: table-cell;
          vertical-align: top;
        }
        
        > .fa-external-link {
          width: 1.2em;
        }
        
        > .content > .description {
          color: $gray;
          font-weight: normal;
          font-size: 0.9em;
        }
      }

      > a:hover {
        color: $lightPurple;      
        > i, > .content {
          display: table-cell;
        }
      }


    }
     &.video{
      @extend .borderSoft;
      max-width: 600px;
      max-height: 600px;

      iframe{
        width: 100%;
        height: 350px;
      }

    .caption {
      font-style: italic;
    }
    }
  }
}